<h1>Billboard Top 100 - Charts</h1>

<% @charts.each do |chart| %>
  <%= link_to chart.name, chart_path(chart) %>
<% end %>

<div class="ui divider"></div>
<button class="ui button fluid"><%= link_to 'Create a new chart', new_chart_path %></button>
