

<div class="artist">
  <h1>Songs</h1>

  <br />
  <div class="ui divider">
   <%= link_to 'Add new song', new_artist_song_path(artist_id, song) %>
  <div class="ui divider">
  <br />

  <div class="ui relaxed divided list">
    <% @songs.each do |song| %>
    <div class="item">
      <div class="content">
        <li class="header"><%= link_to song.title, songs_path + '/' + song.id.to_s %></li>
      </div>
    </div>
  <% end %>
  </div>
</div>
