<div style="background-color: #FFD16E" class="navbar ui menu">
  <a href="/" class="item">Home</a>

  <div class="right menu">
    <a href="/artists" class="item">Artists</a>
    <a href="/songs" class="item">Songs</a>

  </div>
</div>